$darkPrimaryColor:   #00796B;
$primaryColor:       #009688;
$lightPrimaryColor:  #B2DFDB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #795548;
$primaryTextColor:   #09501C;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
$mainBackColor:      #F4F7F4;
$menuBackColor:      #E6F9F1;

$tableColor:         #C4E4C4;