<!DOCTYPE html>
<html>
<head>
  <title>Wheeler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="screen">
	<div id="left_menu" class="menu">
		<a href="/groups" >groups</a>
		<a href="/users" >users</a>
	</div>
	<div id="right_menu" class="menu">
	<%= yield %>
	</div>
	<div class="clearblock"></div>
</div>
</body>
</html>
